/* add variable color */
:root {
    --isfef_theme_color: #0073e6;
}

.isfef-image-select .elementor-field-subgroup.elementor-subgroup-inline {
    width: 100%;
    row-gap: 10px;
}

.elementor-field-type-checkbox:not(.isfef-image-select) .elementor-field-option {
    display: inline-block;
}

.isfef-modernize-radio-checkbox .elementor-field-type-checkbox:not(.isfef-image-select) input[type="checkbox"],
.isfef-modernize-radio-checkbox .elementor-field-type-radio:not(.isfef-image-select) input[type="radio"] {
    /*     display: none !important; */
    opacity: 0;
    width: .3px;
}

.isfef-modernize-radio-checkbox .elementor-field-type-checkbox:not(.isfef-image-select) input[type="checkbox"]+label,
.isfef-modernize-radio-checkbox .elementor-field-type-radio:not(.isfef-image-select) input[type="radio"]+label {
    display: inline-block;
    padding: 2px 10px;
    background-color: #f3f3f3;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.isfef-modernize-radio-checkbox .elementor-field-type-checkbox:not(.isfef-image-select) input[type="checkbox"]:checked+label,
.isfef-modernize-radio-checkbox .elementor-field-type-radio:not(.isfef-image-select) input[type="radio"]:checked+label {
    background-color: var(--isfef_theme_color);
    border-color: var(--isfef_theme_color);
    color: #fff;
}

/* image select */
.isfef-image-select label {
    /*     padding: 0 !important; */
    border: 0 !important;
}

.isfef-image-select .elementor-field-subgroup label {
    display: flex !important;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    /*     overflow: hidden; */
    margin: 5px;
    transition: all 0.3s ease;
    position: relative;
}

.isfef-image-select input:checked+label:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 version%3D%221.1%22 xmlns:xlink%3D%22http://www.w3.org/1999/xlink%22 width%3D%22512%22 height%3D%22512%22 viewBox%3D%220 0 254000 254000%22 style%3D%22enable-background%3Anew 0 0 512 512%22 xml:space%3D%22preserve%22 fill-rule%3D%22evenodd%22%3E%3Ccircle r%3D%22127000%22 cx%3D%22127000%22 cy%3D%22127000%22 fill%3D%22%23ffffff%22 transform%3D%22matrix(0.69%2C0%2C0%2C0.69%2C39370%2C39370)%22/%3E%3Cg transform%3D%22matrix(1%2C0%2C0%2C1%2C0%2C0)%22%3E%3Cpath fill%3D%22%2348b02c%22 d%3D%22M127000 254000C56871 254000 0 197129 0 127000S56871 0 127000 0s127000 56871 127000 127000-56871 127000-127000 127000zm-17473-104654 76212-76211c2637-2638 6967-2611 9578 0l8642 8642c2611 2611 2611 6968 0 9578l-89509 89510c-1601 1601-3850 2231-5957 1869-1442-181-2833-814-3919-1899l-54525-54525c-2606-2606-2637-6941 0-9579l8642-8642c2638-2637 6941-2637 9579 0z%22 opacity%3D%221%22/%3E%3C/g%3E%3C/svg%3E");


    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
    top: 5px;
}

.isfef-image-select input[type="radio"],
.isfef-image-select input[type="checkbox"] {
    display: none !important;
    transition: .3s all ease;
}

.isfef-image-select label img {
    width: 100%;
    height: auto;
    display: block;
    transition: .3s all ease;
    border-radius: 6px;
}

.isfef-image-select input:checked+label img {
    box-shadow: 0px 0px 0px 2px var(--isfef_theme_color);
}

.isfef-image-select .elementor-field-subgroup.elementor-subgroup-inline .elementor-field-option {
    width: 33.33%;
}

.isfef-image-select .elementor-field-subgroup.elementor-subgroup-inline {
    width: 100%;
    row-gap: 10px;
}

.isfef-image-select label img {
    padding: 15px;
}

.isfef-image-select .elementor-field-subgroup label {
    line-height: 1.4;
}

.isfef-image-select input+label img {
    box-shadow: 0px 0px 0px 2px #eee;
}

.elementor-field-group:not(.isfef-image-select) .elementor-field-subgroup {
    gap: 6px;
}

.isfef-modernize-radio-checkbox .elementor-field-type-checkbox:not(.isfef-image-select) input[type="checkbox"]:checked+label,
.isfef-modernize-radio-checkbox .elementor-field-type-radio:not(.isfef-image-select) input[type="radio"]:checked+label {
    padding-left: 25px;
    position: relative;
}

.isfef-modernize-radio-checkbox .elementor-field-type-checkbox:not(.isfef-image-select) input[type="checkbox"]:checked+label:before,
.isfef-modernize-radio-checkbox .elementor-field-type-radio:not(.isfef-image-select) input[type="radio"]:checked+label:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 version%3D%221.1%22 xmlns:xlink%3D%22http://www.w3.org/1999/xlink%22 width%3D%22512%22 height%3D%22512%22 viewBox%3D%220 0 254000 254000%22 style%3D%22enable-background%3Anew 0 0 512 512%22 xml:space%3D%22preserve%22 fill-rule%3D%22evenodd%22%3E%3Ccircle r%3D%22127000%22 cx%3D%22127000%22 cy%3D%22127000%22 fill%3D%22%23ffffff%22 transform%3D%22matrix(0.69%2C0%2C0%2C0.69%2C39370%2C39370)%22/%3E%3Cg transform%3D%22matrix(1%2C0%2C0%2C1%2C0%2C0)%22%3E%3Cpath fill%3D%22%2348b02c%22 d%3D%22M127000 254000C56871 254000 0 197129 0 127000S56871 0 127000 0s127000 56871 127000 127000-56871 127000-127000 127000zm-17473-104654 76212-76211c2637-2638 6967-2611 9578 0l8642 8642c2611 2611 2611 6968 0 9578l-89509 89510c-1601 1601-3850 2231-5957 1869-1442-181-2833-814-3919-1899l-54525-54525c-2606-2606-2637-6941 0-9579l8642-8642c2638-2637 6941-2637 9579 0z%22 opacity%3D%221%22/%3E%3C/g%3E%3C/svg%3E");

    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 5px;
    width: 16px;
    height: 16px;
    top: 16%;
}